/*CAJA 1*/
body{
    margin:0%;
}
.caja1{
    color: #ffffff;
    height: 600px;
    margin:10px;
}
.caja1{
    background-image: url(../img/image5big.jpg);
    background-size: cover;
}
.cajainfo{
    display: grid;
    align-items: center;
    justify-content: center;
    justify-items: center;
    transform: translateY(100%);
}
.cajaicon{
 display: flex;
 justify-content: flex-end;
 padding: 10px;   
}
.cajainfo h4{
    border:4px solid white;
    width: 15px;
}
/*FIN CAJA 1*/

/*INICIO CAJA 2*/
.caja2{
    color: black;
    text-align: center;
    background-color: rgb(244, 246, 243);
}
.cajalinea{
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    border:4px solid black;
    height: 0px;
    width: 200px;
}
/*ARTICLE 1*/
.article1{
    margin: 12px;
    display: grid;

}
.cajaimg1 img{
    margin: 0%;
    height: 100%;
    width: 100%;
}
/*FIN ARTICLE 1*/
/*INICIO ARTICLE 2*/
.article2{
    margin: 12px;
    display: grid;
}
.cajaimg2 img{
    margin: 0%;
    height: 100%;
    width: 100%;
    background-size: cover;
}
/*FIN ARTICLE 2*/
/*INICIO ARTICLE 3*/
.article3{
    margin: 12px;
    display: grid;
}
.cajaimg3 img{
    margin: 0%;
    height: 100%;
    width: 100%;
    background-size: cover;
}
/*FIN ARTICLE 3*/
/*FIN CAJA 2*/


/*INICIO CAJA 3(ABOUT)*/
.linea2 h4{
    border: 4px solid black;
    width: 40px;
}
.about{
    text-align: center;
}
.aboutpa p{
    text-align: justify;
    padding: 6px;
}
.aboutimg img{
    height: 100%;
    background-size: cover;
    width: 100%;
}
/*FIN CAJA 3(ABOUT)*/

/*CAJA SUSCRIBE*/
.suscribe{
    background-color:rgb(225, 230, 234);
    display: grid;
    padding: 40px;
    text-align: center;
    background-color: rgba(rgba(116, 116, 116, 0.178), green, blue, alpha);
}
.suscribe input{
    padding: 10px;
    margin: 14px;
}
.suscribe button{
    margin: 10px;
    padding: 16px;
}
.suscribe h1{
    margin-top: 0%;
}
/*FIN CAJA SUSCRIBE*/
/*INICIO CAJA SOCIAL*/
.iconos{
    margin-top: 6px;
    display: flex;
    justify-content: center;
}
.iconos a i{
    color: rgba(63, 62, 62, 0.884);
    margin: 16px;
    border-radius: 12px;
    padding: 3px;
    width: 4px;
    text-align: center;
}
.social{
    padding-top: 40px;
    text-align: center;
}
/*FIN CAJA SOCIAL*/

/**/
@media screen and (min-width:700px){
    .caja1{
        padding-bottom: 160px;
        padding-top: 90px;
    }
    .todoarticle{
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-around;
        padding-left: 44px;
        padding-right: 44px;
    }
}